a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 0.1px;;
  }
  h1 {
      color: blue;
    }
  #red {
        background-color: red;
        width: 200px;
        height: 200px;
   }
  body {
        background-color: white;    
     }
   u {
      font-weight: bold;
    }
   li {
       color: blue;
      }
      h3 {
          text-decoration: underlinned;
    }
   img {
         width: 50px;
         height: 50px;
         float: center;
         border-radius: 40px;
       }